<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/test"/>
                <property name="username" value="lxz"/>
                <property name="password" value="Lxz19970309."/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
<!--        <mapper class="DeptMapper"/>-->
        <mapper resource="mappers/DeptMapper.xml"/>
        <mapper resource="mappers/EmpMapper.xml"/>
        <mapper resource="mappers/StudentMapper.xml"/>
    </mappers>
</configuration>